<template>
  <div class="about">
    <br>
    <br>
    <br>
       <p class="animated  tada">
            <span >YouTube Kids: The innovative app designed for children between <br>
              2 and 8 years old that allows the whole family to enjoy independent and secure audiovisual content. ... <br>
              But making sure that the content they see and that it is safe and familiar is a difficult task for parents.
            </span>
</p>
  </div>
</template>
