<template>
  <div class="home">
    <br>
    <br>
    <br>
     <img alt="app logo" src="../assets/logoyoutube.png" class="w-auto animated bounceIn">
    <HelloWorld msg="Welcome to Your TubeKids App"/>
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'

//export default {
  //name: 'home',
  //components: {
   // HelloWorld
  //}
//}
</script>
