<template>
  <div class="container">
    <h1>LoginKid</h1>
     <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{mensaje.texto}}
    </b-alert>
    <form @submit.prevent="login">
      <input type="text" placeholder="User" class="form-control my-2" v-model="usuario.usuario">
      <input type="text" placeholder="Pin" class="form-control my-2" v-model="usuario.pin">
      <b-button class="btn-block" type="submit">Log In</b-button>
    </form>
    <div v-if="mensaje != ''">
     <!-- <p>{{mensaje}}</p>-->
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      usuario: {usuario: '', pin: ''},
      //mensaje: '',
         dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: '', texto: ''}
    }
  },
  methods:{
    ...mapActions(['guardarUsuarioKid']),
    login(){
       console.log(this.usuario);
      this.axios.post('/loginkid', this.usuario)
        .then(res => {
          console.log(res.data);
         const acces = res.data.acces;
          this.guardarUsuarioKid(acces);
          
        })
        .catch(e => {
          console.log(e.response);
          this.mensaje.texto = e.response.data.mensaje
          this.mensaje.color = 'warning';
          //this.mensaje.texto = 'Nota Agregada!';
          this.showAlert()
        })
    },
     countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    }
    
  }
}
</script>