<template>
  <div class="container">
      <br>
    <h1>Verification Phone Number</h1>
    <br>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{mensaje.texto}}
    </b-alert>
    <form @submit.prevent="logintwo">
      <input type="text" class="form-control my-2" placeholder="Enter your verification code sent to the phone" v-model="usuario.codigo">
      <b-button class="btn-success my-2 btn-block" type="submit">Sign in</b-button>
    </form>
  </div>
</template>


<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      usuario: {codigo: ''},
      //mensaje: '',
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: '', texto: ''}
    }
  },
  methods:{
    ...mapActions(['guardarUsuarioTwo','guardarCodigo', 'borrarCodigo']),
    logintwo(){
      // console.log(this.usuario);
    //   this.axios.post('/logintwo', this.usuario)
     //   .then(res => {
      //    console.log(res.data);
       //   const token = res.data.token;
       //   this.guardarUsuario(token);
          if(sessionStorage.getItem("codigo")==this.usuario.codigo){
              // const token = res.data.token;

                ////this.guardarUsuarioTwo(localStorage.getItem("token"));
                this.guardarUsuarioTwo(localStorage.getItem("token"));
               // this.guardarUsuarioTwo(localStorage.getItem("codigo"));
                this.borrarCodigo();
               /////this.guardarCodigoTwo(localStorage.getItem("codigo"));
                
                this.mensaje.color = 'warning';
                this.mensaje.texto = 'Codigo Correcto!';
                this.showAlert()



          }else{

                this.mensaje.color = 'warning';
                this.mensaje.texto = 'Codigo Incorrecto!';
                this.showAlert()
          }
          // const codigo = res.data.codigo;
          //this.guardarCodigo(codigo);
          
          
     //   }
      //  .catch(e => {
       //   console.log(e.response);
        //  this.mensaje.texto = e.response.data.mensaje
       //   this.mensaje.color = 'warning';
       //   this.mensaje.texto = 'Nota Agregada!';
            this.showAlert()
      //  })
    },

     countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    }
    
  }
}
</script>