<template>
  <div class="container">
    <h1>Login</h1>
     <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{mensaje.texto}}
    </b-alert>
    <form @submit.prevent="login">
      <input type="email" placeholder="Email" class="form-control my-2" v-model="usuario.email">
      <input type="password" placeholder="Password" class="form-control my-2" v-model="usuario.pass">
      <b-button class="btn-block" type="submit">Log In</b-button>
    </form>
    <div v-if="mensaje != ''">
     <!-- <p>{{mensaje}}</p>-->
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      usuario: {email: '', pass: ''},
      //mensaje: '',
         dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: '', texto: ''}
    }
  },
  methods:{
    ...mapActions(['guardarUsuario','guardarCodigo', 'guardarCodigoTwo', 'guardarUsuarioTwo']),
    login(){
      // console.log(this.usuario);
      this.axios.post('/login', this.usuario)
        .then(res => {
          console.log(res.data);
          const token = res.data.token;
          this.guardarUsuario(token);
           const codigo = res.data.codigo;
          this.guardarCodigo(codigo);
        //  this.guardarCodigoTwo(codigo);
          this.guardarUsuarioTwo(codigo);
          
          
        })
        .catch(e => {
          console.log(e.response);
          this.mensaje.texto = e.response.data.mensaje
          this.mensaje.color = 'warning';
          //this.mensaje.texto = 'Nota Agregada!';
          this.showAlert()
        })
    },
     countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    }
    
  }
}
</script>