<template>
  <div class="container">
    <h1>PlayList</h1>

    <table class="table">
        
      <thead>
        <tr>
       <!--    <th scope="col">#</th>-->
          <th scope="col">Nombre</th>
          <th scope="col">Video</th>
           <!--   <th scope="col">Acciones</th>-->
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in videos" :key="index">
         <!--  <th scope="row">{{item._id}}</th>-->
          <td>{{item.nombre}}</td>
          
         <!--  <td>{{item.video}}</td>-->
         
      <td><div>
  <b-embed
    type="iframe"
    aspect="16by9"
    :src="item.video"
    allowfullscreen
  ></b-embed>
</div></td>
      
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      videos: [],
      video: {nombre: '', video: ''},

    }
  },
  computed: {
    ...mapState(['acces'])
  },
  created(){
    this.listarVideos();
  },
  methods: {
  
    listarVideos(){
      let config = {
        headers: {
          acces: this.acces
        }
      }

      this.axios.get('/videokid', config)
        .then(res => {
          console.log(res.data);
          this.videos = res.data;
        })
        .catch(e => {
          console.log(e.response);
        })
    },
 
  }
}
</script>