<template>
  <div class="container">
    <h1>Register</h1>
    <br>
      <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{mensaje.texto}}
    </b-alert>

    <form @submit.prevent="agregarUsuario()">
      <input type="email" class="form-control my-2" placeholder="Email" v-model="usuario.email" >
      <input type="password" minlength="7" maxlength="12" required class="form-control my-2" placeholder="Pass" v-model="usuario.pass">
      <input type="password" minlength="7" maxlength="12" required class="form-control my-2" placeholder="Confirm Pass" v-model="usuario.confirmpass">
      <input type="text" class="form-control my-2" placeholder="Full Name" v-model="usuario.nombre">
      <input type="text" class="form-control my-2" placeholder="Country" v-model="usuario.pais">
       <div>
   <!-- <label for="example-datepicker">Choose a date</label>-->
    <b-form-datepicker id="example-datepicker" v-model="usuario.fecha" class="mb-2" placeholder="Date of birth"></b-form-datepicker>
    <!-- <p>Value: '{{ value }}'</p>-->
  </div>
      <input type="text" class="form-control my-2" placeholder="Phone Number" v-model="usuario.telefono">
      <b-button class="btn-success my-2 btn-block" type="submit">Sign in</b-button>
    </form>
  </div>
</template>


<!-- codigo JavaScript para mostrar el calendario  -->


<script>
  export default {
    data() {
      return {
        value: ''
      }
    }
  }
</script>

<script>

export default {
  data() {
    return {
      usuarios: [],
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: '', texto: ''},
      usuario: {nombre: '', email: '', pass: '', confirmpass: '', fecha: '', telefono: '', pais: ''},
    }
  },
  methods: {
    alerta(){
      this.mensaje.color = 'danger';
      this.mensaje.texto = 'Probando alerta';
      this.showAlert();
    },

    agregarUsuario(){
      // console.log(this.nota);
      this.axios.post('/nuevo-usuario', this.usuario)
        .then(res => {
          this.usuarios.push(res.data)
          this.usuario.nombre = '';
          this.usuario.email = '';
           this.usuario.pass = '';
          this.usuario.confirmpass = '';
           this.usuario.fecha = '';
          this.usuario.telefono = '';
           this.usuario.pais = '';
          this.mensaje.color = 'success';
          this.mensaje.texto = 'Usuario Agregado!';
          this.mensaje.texto = 'Se envio un link de verificacion al correo!.Favor revisar';
          this.showAlert()
        })
        .catch(e => {
          console.log(e.response);
          if(e.response){
            this.mensaje.texto = e.response.data.mensaje
          }else{
            this.mensaje.texto = 'Error de sistema';
          }
          this.mensaje.color = 'danger';
          this.showAlert()
        })
    },
  
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    }
  }
}
</script>
