<template>
  <div class="container">
    <h1>User profiles</h1>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{mensaje.texto}}
    </b-alert>

    <form @submit.prevent="editarUserKid(userkidEditar)" v-if="editar">
      <h3>Edit profile</h3>
      <input type="text" class="form-control my-2" placeholder="Name" v-model="userkidEditar.nombre">
      <input type="text" class="form-control my-2" placeholder="User" v-model="userkidEditar.usuario">
        <input type="text" class="form-control my-2" placeholder="Age" v-model="userkidEditar.edad">
          <input type="text" class="form-control my-2" placeholder="Pin" v-model="userkidEditar.pin">
      <b-button class="btn-warning my-2 mx-2" type="submit">Edit</b-button>
      <b-button class="my-2" type="submit" @click="editar = false">Cancel</b-button>
    </form>

    <form @submit.prevent="agregarUserKid()" v-if="!editar">
      <h3>Add profile</h3>
      <input type="text" class="form-control my-2" placeholder="Name" v-model="userkid.nombre">
      <input type="text" class="form-control my-2" placeholder="User" v-model="userkid.usuario">
        <input type="text" class="form-control my-2" placeholder="Age" v-model="userkid.edad">
          <input type="text" class="form-control my-2" placeholder="Pin" v-model="userkid.pin">
      <b-button class="btn-success my-2 btn-block" type="submit">Add</b-button>
    </form>

    <!-- Input de Filtrar-->
        
     <input class="form-control" type="text" v-model="searchQuery" placeholder="Search userKid" /> 

    <table class="table">
        
      <thead>
        <tr>
         <!--    <th scope="col">#</th>-->
          <th scope="col">Name</th>
          <th scope="col">User</th>
          <th scope="col">Age</th>
          <th scope="col">Pin</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
         <tr v-for="(item, index) in resultQuery" :key="index" >
      <!--   <tr v-for="(item, index) in userkids" :key="index">  -->
      <!--       <th scope="row">{{item._id}}</th> -->
          <td>{{item.nombre}}</td>
          
        <td>{{item.usuario}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.pin}}</td>
         
  
          <td>
            <!-- <b-button @click="alerta()">Acción</b-button> -->
            <b-button @click="eliminarUserKid(item._id)" 
              class="btn-danger btn-sm mx-2">Delete
            </b-button>
            <b-button @click="activarEdicion(item._id)" 
              class="btn-warning btn-sm">Edit
            </b-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      userkids: [],
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: '', texto: ''},
      userkid: {nombre: '', usuario: '', edad: '', pin: ''},
      editar: false,
      userkidEditar: {},
        searchQuery: null,
    }
  },
  computed: {
    ...mapState(['token']),

    //Metodo para filtrar por nombre
      resultQuery(){
      if(this.searchQuery){
      return this.userkids.filter((item)=>{
        return this.searchQuery.toLowerCase().split(' ').every(v => item.nombre.toLowerCase().includes(v))
      })
      }else{
        return this.userkids;
      }
    }
  },
  created(){
    this.listarUserkids();
  },
  methods: {
    alerta(){
      this.mensaje.color = 'danger';
      this.mensaje.texto = 'Probando alerta';
      this.showAlert();
    },
    listarUserkids(){
      let config = {
        headers: {
          token: this.token
        }
      }

      this.axios.get('/usuarioKid', config)
        .then(res => {
          console.log(res.data);
          this.userkids = res.data;
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    agregarUserKid(){
      let config = {
        headers: {
          token: this.token
        }
      }
      // console.log(this.nota);
      this.axios.post('/nuevo-usuarioKid', this.userkid, config)
        .then(res => {
          this.userkids.push(res.data)
          this.userkid.nombre = '';
          this.userkid.usuario = '';
          this.userkid.edad = '';
          this.userkid.pin = '';
          this.mensaje.color = 'success';
          this.mensaje.texto = 'Perfil Agregado!';
          this.showAlert()
        })
        .catch(e => {
          console.log(e.response);
          if(e.response.data.error.errors.nombre.message){
            this.mensaje.texto = e.response.data.error.errors.nombre.message
          }else{
            this.mensaje.texto = 'Error de sistema';
          }
          this.mensaje.color = 'danger';
          this.showAlert()
        })
    },
    eliminarUserKid(id){
      console.log(id);
      this.axios.delete(`/usuarioKid/${id}`)
        .then(res => {
          const index = this.userkids.findIndex(item => item._id === res.data._id);
          this.userkids.splice(index, 1);
          this.mensaje.color = 'success';
          this.mensaje.texto = 'User Eliminado';
          this.showAlert();
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    activarEdicion(id){
      this.editar = true;
      console.log(id);
      this.axios.get(`/usuarioKid/${id}`)
        .then(res => {
          this.userkidEditar = res.data;
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    editarUserKid(item){
      this.axios.put(`/usuarioKid/${item._id}`, item)
        .then(res => {
          const index = this.userkids.findIndex(n => n._id === res.data._id);
          this.userkids[index].nombre = res.data.nombre;
          this.userkids[index].usuario = res.data.usuario;
          this.userkids[index].edad = res.data.edad;
          this.userkids[index].pin = res.data.pin;
          this.mensaje.color = 'success';
          this.mensaje.texto = 'User Editado';
          this.showAlert();
          this.editar = false;
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    }
  }
}
</script>