<template>
  <div class="container">
    <h1>PlayList</h1>

<!--componentes de mensajes de alerta bootstrap-->
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{mensaje.texto}}
    </b-alert>

<!--Formulario de editar-->
     
    <form @submit.prevent="editarVideo(videoEditar)" v-if="editar">
      <h3>Editar video</h3>
      <input type="text" class="form-control my-2" placeholder="Nombre" v-model="videoEditar.nombre">
      <input type="text" class="form-control my-2" placeholder="Link de video" v-model="videoEditar.video">
      <b-button class="btn-warning my-2 mx-2" type="submit">Editar</b-button>
      <b-button class="my-2" type="submit" @click="editar = false">Cancelar</b-button>
    </form>

<!--Formulario de agregar-->

    <form @submit.prevent="agregarVideo()" v-if="!editar">
      <h3>Add new video</h3>
      <input type="text" class="form-control my-2" placeholder="Name video" v-model="video.nombre ">
      <input type="url" class="form-control my-2" placeholder="Link video" v-model="video.video">
      <b-button class="btn-success my-2 btn-block" type="submit">Add video</b-button>
    </form>
          
<!-- Input de Filtrar-->
        
     <input class="form-control" type="text" v-model="searchQuery" placeholder="Search video" />       

<!--Tabla de datos-->

    <table class="table" id="videos">
        
      <thead>
        <tr>
       <!--   <th scope="col">#</th> -->
          <th scope="col">Name</th>
          <th scope="col">Video</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody >
        <tr v-for="(item, index) in resultQuery" :key="index" >
        <!--    <th scope="row">{{item._id}}</th>-->
          <td>{{item.nombre}}</td>
          
         <!--  <td>{{item.video}}</td>-->
         
      <td><div>
  <b-embed
    type="iframe"
    aspect="16by9"
    :src="item.video"
    allowfullscreen
  ></b-embed>
</div></td>
          <td>
            <!-- <b-button @click="alerta()">Acción</b-button> -->
            <b-button @click="eliminarVideo(item._id)" 
              class="btn-danger btn-sm mx-2">Delete
            </b-button>
            <b-button @click="activarEdicion(item._id)" 
              class="btn-warning btn-sm">Edit
            </b-button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  
//propiedades para llenar los arreglos de objetos
  data() {
    return {
      videos: [],
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: {color: '', texto: ''},
      video: {nombre: '', video: ''},
      editar: false,
      filtrar: false,
      videoEditar: {},
      videoFilter: {},
      searchQuery: null,
    

    }
  },
  computed: {
    ...mapState(['token']),
      
//Metodo para filtrar por nombre
      resultQuery(){
      if(this.searchQuery){
      return this.videos.filter((item)=>{
        return this.searchQuery.toLowerCase().split(' ').every(v => item.nombre.toLowerCase().includes(v))
      })
      }else{
        return this.videos;
      }
    }


  },

//cargar los videos en el contructor
  created(){
    this.listarVideos();
    
  },
  methods: {
//pruebas para los mensajes de alerta, no es parte del codigo
    alerta(){
      this.mensaje.color = 'danger';
      this.mensaje.texto = 'Probando alerta';
      this.showAlert();
    },
//Metodo para obtener la lista de videos
    listarVideos(){
      let config = {
        headers: {
          token: this.token
        }
      }

      this.axios.get('/video', config)
        .then(res => {
          console.log(res.data);
          this.videos = res.data;               
        })
        .catch(e => {
          console.log(e.response);
        })
    },
//Metodo para agregar un nuevo video
    agregarVideo(){
      let config = {
        headers: {
          token: this.token
        }
      }
      this.axios.post('/nuevo-video', this.video, config)
        .then(res => {
          this.videos.push(res.data)
          this.video.nombre = '';
          this.video.video = '';
          this.mensaje.color = 'success';
          this.mensaje.texto = 'Video Agregado!';
          this.showAlert()
        })
        .catch(e => {
          console.log(e.response);
          if(this.video.video == '' || this.video.nombre == '' ){
            this.mensaje.texto = 'The fields are mandatory';
            
          }else{
            this.mensaje.texto = 'Error de sistema';
          }
          this.mensaje.color = 'danger';
          this.showAlert()
        })
    }, 

//Metodo para eliminar un video
    eliminarVideo(id){
      console.log(id);
      this.axios.delete(`/video/${id}`)
        .then(res => {
          const index = this.videos.findIndex(item => item._id === res.data._id);
          this.videos.splice(index, 1);
          this.mensaje.color = 'success';
          this.mensaje.texto = 'Nota Eliminada';
          this.showAlert();
        })
        .catch(e => {
          console.log(e.response);
        })
    },

//Metodo para activar el metodo de editar
    activarEdicion(id){
      this.editar = true;
      console.log(id);
      this.axios.get(`/video/${id}`)
        .then(res => {
          this.videoEditar = res.data;
        })
        .catch(e => {
          console.log(e.response);
        })
    },

//Metodo para editar el video

    editarVideo(item){
      this.axios.put(`/video/${item._id}`, item)
        .then(res => {
          const index = this.videos.findIndex(n => n._id === res.data._id);
          this.videos[index].nombre = res.data.nombre;
          this.videos[index].video = res.data.video;
          this.mensaje.color = 'success';
          this.mensaje.texto = 'Video Editado';
          this.showAlert();
          this.editar = false;
        })
        .catch(e => {
          console.log(e.response);
        })
    },

//llamada de los componentes de mensaje de alerta
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    },

//metodo para obtener los videos por nombre, no se usa en el proyecto

    listarVideosfilter(nombre){
          let config = {
          headers: {
          token: this.token
        }
      }
      this.axios.get(`/videofilter/${nombre}`,config)
        .then(res => {
          const index = this.videos.findIndex(item => item._id === res.data._id);
          this.videos.splice(index, 1);
        })
        .catch(e => {
          console.log(e.response);
        })
    },


   
  }
}
</script>