<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/login"  v-if="!estaActivo">Login</router-link> |
      <a @click="cerrarSesion()"  v-if="estaActivo">Cerrar Sesion</a> |
      <router-link to="/notas" v-if="estaActivo">Notas</router-link>
    </div> -->
    <div>
      <b-navbar toggleable="md" type="dark" variant="info">
        <b-navbar-brand href="#">YouTube KIDS</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item to="/" >Home</b-nav-item>
            <b-nav-item to="/about">About</b-nav-item>
            
            
            
            <b-nav-item to="/registers" v-if="!estaActivo && !estaActivokid ">Register</b-nav-item>

            <b-nav-item to="/login" v-if="!estaActivo && !estaActivokid ">Login</b-nav-item>
             <b-nav-item to="/loginkid" v-if="!estaActivo && !estaActivokid">LoginKid</b-nav-item>
           <!--  <b-nav-item to="/notas" v-if="!estaActivoTwo && estaActivo">Notas</b-nav-item>-->

        
            
            <b-nav-item to="/videos" v-if="!estaActivoTwo && estaActivo">PLayList</b-nav-item>
            <b-nav-item to="/userskids" v-if="!estaActivoTwo && estaActivo">Userskids</b-nav-item>
             <b-nav-item to="/logintwo" v-if="estaActivoTwo">LoginTwo</b-nav-item>
            <b-nav-item to="/playlists" v-if="estaActivokid">PlayListKids</b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
         <b-navbar-nav class="ml-auto">
            <b-nav-form>
            <!--  <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
              <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
            </b-nav-form>

            <b-nav-item-dropdown right v-if="estaActivo">
              <!-- Using 'button-content' slot -->
              <template v-slot:button-content>
                <em>User</em>
              </template>
              <b-dropdown-item href="#">Profile</b-dropdown-item>
              <b-dropdown-item @click="cerrarSesion()">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>

               <b-nav-item-dropdown right v-else-if="estaActivokid">
              <!-- Using 'button-content' slot -->
              <template v-slot:button-content>
                <em>UserKid</em>
              </template>
              <b-dropdown-item href="#">Profile</b-dropdown-item>
              <b-dropdown-item @click="cerrarSesionkid()">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
            
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <router-view/>
  <!--   <div class="card-footer text-muted border-success navbar-fixed-bottom">
    copyright 2020 &copy;
  </div>-->
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  methods:{
    ...mapActions(['cerrarSesion', 'leerToken', 'cerrarSesionkid', 'leerTokenTwo']),

   
  },
  computed:{
    ...mapGetters(['estaActivo', 'estaActivokid','estaActivoTwo'])
  },
  created(){
    this.leerToken();
    this.leerTokenKid();
    this.leerTokenTwo();
   
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>

<style lang="css" scoped>
</style>


<style lang="css" scoped>
.card-footer{
	background-color:greenyellow;
	/*..otro codigo..*/
}
</style>

<style lang="css" scoped>
.card-footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
 
}
</style>